.header {
  text-align: center;
}
.header__container {
    background-color: red;
}
.header__title {
    color: white;
    text-align: center;
}
.pokemonDescrip {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  text-align: center;
}
.pokemonDescrip__name {
  border-bottom: 1px solid gray;
}
.searchContainer {
  text-align: center;
}
.search__heading {
    font-weight: bold;
    border-bottom: 1px solid gray;

    
}
